HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

/src/main/resources/application-database.properties

# Ignore sensitive properties files
/src/main/resources/application.properties
/src/test/java/resources/application.properties
/src/test/java/resources/application-database.properties
/src/main/resources/backend-morago-firebase-adminsdk-wy2s5-b966d6d1d0.json